body {
  background: #F4F4F4;
}
 
.header a.offers2{
  background: #FA6938;
  height: 8%;
  width: 100%;
  padding: 0;
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;

}
.header a.offers2:hover{
  background: #46B5FF;
}

/*.container {
  width: 100%;
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
}*/
.free {
  float: left;
  font-size: 12px;
  margin-right: 15px;
  padding: 0 8px;
  text-decoration: none;
  border: 1px #C8542D;
}


.navSubBar {
  height: 24%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #FFFFFF;

}

.navBar ul.navSubBar li{
  width: 100%;
  background-color: #FFFFFF;
  display: inline;
  font-family: tahoma, sans-serif;
  line-height: 1.9;
  /*font-weight: 600;*/
  font-size: 17px;
  list-style-type: none;
  margin: 3%;

}

.navBar img.logo {  
  height: 95px;
  width: 120px;
}

.scallopBorder {
  width: 100%;
  height: 10px;
  position: absolute;
  background: transparent url("./images/raw/perforated-bottom.png") repeat;
}


ul.tieBarAll {
  height: 45%;
  width: 100%;
  margin-top: 0;
  
}
ul.tieBarAll {
  list-style-type: none;
/*  transition: 1s ease-in-out;*/
}

ul.tieBarAll li {
  height: 233px;
  width: 113px;
  line-height: 233px;
  display: inline-block;
  background: url("./images/sprites/tieBar/tieBarAll.png") no-repeat;
}

ul.tieBarAll li:hover{
  transistion: 3s;
  transform: translate(0, -15px);
  position: relative;
  z-index: -1;
}

ul.tieBarAll li.black {
  background-position: 0, 0;
}

ul.tieBarAll li.blue {
  background-position: -142px, 0;
}

ul.tieBarAll li.collegiate {
  background-position: -285px, 0;
}
ul.tieBarAll li.cotton {
  background-position: -426px, 0;
}
ul.tieBarAll li.favorites {
  background-position: -568px, 0;
}
ul.tieBarAll li.graphic {
  background-position: -710px, 0;
}
ul.tieBarAll li.plaid {
  background-position: -852px, 0;
}
ul.tieBarAll li.silk {
  background-position: -994px, 0;
}
ul.tieBarAll li.striped {
  background-position: -1136px, 0;
}

.declarationBar {
  font-family: tahoma, sans-serif;
  margin-top: auto ;
  width: 100%;
  height: 15%;

}

span.dressing {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 40px;
  font-size: 60px;
}

.moreProductsBar {
  position: relative;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  background: white;
}

.bowTies, .pocketSquares, .tieBars {

  display: inline-block;
  width: 25%; 
  border: 1px solid black;
  margin-right: auto;
  margin-left: auto;
}

.aboutBar {
  text-align: center;
  font-family: tahoma, sans-serif;
  font-size: 36px;
  font-weight: 1.1;
  font-style: italic;
  background: white;
}

    a.viewStory {
      margin-top: 40px;
      text-decoration: none;
      font-style: normal;
      font-size: 14px;
      color: #33A1FF;
    }

.hatchBorder {
  width: 100%;
  height: 12px;
  position: absolute;
  /*margin-bottom: 0;*/
  background: transparent url("./images/raw/hatch-light.png") repeat;
}

.moreInfoBar {
  position: relative;
  height: 30%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid blue;
}

.weeklyPick, .loopUsIn, .theQuarterly, .styleGuide {

  display: inline-block;
  width: 15%; 
  border: 1px solid black;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  height: 8%;
  width: 100%;
  border: 1px solid black;
}
