body {
  background: #F4F4F4;
}
 
.header {
  background: #FA6938;
  height: 8%;
  width: 100%;
  padding: 0;
}

.container {
  width: 100%;
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
}
.shipping {
  float: left;
  font-size: 12px;
  margin-right: 15px;
  padding: 0 8px;
  background-color: #C8542D;
  text-decoration: none;
}

.header:hover{
  background: #46B5FF;
}

.navBar{
  background: #FFFFFF;
  height: 22%;
  width: 100%;
  display: inline-block;
}

.navBar img.logo {  
  height: 95px;
  width: 120px;
  margin: auto 0 0 30px;

}

.scallopBorder {
  width: 100%;
  height: 10px;
  position: absolute;
  margin-bottom: 0;
  background: transparent url("./images/raw/perforated-bottom.png") repeat;
}

.tieBarAll {
  height: 45%;
  width: 90%;
  margin-top: 0;
}
ul.tieBarAll {
  list-style-type: none;
/*  transition: 1s ease-in-out;*/
}

ul.tieBarAll li {
  height: 233px;
  width: 113px;
  line-height: 233px;
  display: inline-block;
  background: url("./images/sprites/tieBar/tieBarAll.png") no-repeat;
}

ul.tieBarAll li:hover{
  transistion: 1s ease-in-out;
  transform: translate(0, -15px);
}

ul.tieBarAll li.black {
  background-position: 0, 0;
}

ul.tieBarAll li.blue {
  background-position: -142px, 0;
}

ul.tieBarAll li.collegiate {
  background-position: -285px, 0;
}
ul.tieBarAll li.cotton {
  background-position: -426px, 0;
}
ul.tieBarAll li.favorites {
  background-position: -568px, 0;
}
ul.tieBarAll li.graphic {
  background-position: -710px, 0;
}
ul.tieBarAll li.plaid {
  background-position: -852px, 0;
}
ul.tieBarAll li.silk {
  background-position: -994px, 0;
}
ul.tieBarAll li.striped {
  background-position: -1136px, 0;
}

.declarationBar {
  font-family: tahoma, sans-serif;
  margin: 8% 0 ;
  width: 100%;
  height: 50%;

}

span.dressing {
  margin-left: 25%;
  margin-right: 25%;
  font-size: 60px;
}

